.form{
    
}
input[type=text] {
    border: 2px solid purple;
    border-radius: 4px;
  }
select{
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
input[type=submit]:hover {
    background-color: #45a049;
  }