html
{
    background: url("MediaFiles/pokemonwallpaper.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 5cm; 
}

a
{
color: #420dab;
}

p, h2, h3, .form
{
    color: white;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0 .05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
}

h1{
   font-family: 'Times New Roman', Times, serif;
   color: white;
   border-bottom: slateblue 3px;     
   text-shadow: black 1px;  
}

body{ background: url("MediaFiles/pokemonwallpaper.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
background-size: cover;
}

footer
{    
    color: white;
    bottom: 0;
    position: fixed;
    background-image: url(MediaFiles/footerbackground.png);

}

.container
{        
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 0 1 auto;
     font-family: "Arial";
}

.container ul
{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    /* width: auto; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.container ul::before
{
    opacity: 0.4;
}

.container li a {
    display: flex;
    flex-direction: row;
    position: relative;    
        padding: 8px 32px;
        text-decoration: none;    
}





.container a
{    
    text-shadow: 0.05em 0 black, 0 0.05em black, -0 .05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
    color: white;
    cursor:pointer;      
    background-repeat: no-repeat;

}
.container a.active::after
{
    content:url("MediaFiles/pokemonwhite.png");    
    
}
.container a:not(.active)::after
{
    content:url("MediaFiles/pokemontrans.png")    
    
}
.container a:hover::after
{
    
    content:url("MediaFiles/pokemontrans.png");
    background-color: transparent;
    animation-name: blacktogrey;
    animation-duration: 2s;    
    background-color: #666564;
    
}
.container a.active
{
      background-color: white;
    
}
.container a:not(.active)
{
       background-color: transparent
    
}
.container a:hover
{
    background-color: transparent;
    animation-name: backgroundNavBar;
    animation-duration: 2s; 
    background-color: #666564;
    
}
.container 
{
    color: white;
text-shadow: 0.05em 0 black, 0 0.05em black, -0 .05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;

}
.Poster
{
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.inhoud
{
color : white;   

    margin-left: auto;
    margin-right: auto; 
    
}
.inhoud img
{
height: 30px;
width: 30px;
}
.top10
{
border: 2px;
border-style: solid;
border-color: #420dab;
float: left;
display: flex;
flex-direction: column;
}


.spoiler 
{
    
    opacity: 0;
    
}
@keyframes backgroundNavBar
{

    from 
    {
        background-color: transparent;
    }
    to
    {
        background-color: #666564;
    }

}

@keyframes blacktogrey
{
    from 
    {
        background-color: transparent;
        content:url("MediaFiles/pokemontrans.png");
    }
    to
    {
        /* background-color: #666564; */
        content:url("MediaFiles/pokemontrans.png");   
    }
}

@keyframes TableHover
{
    from
    {
        background-color: transparent;
    }
    to
    {
        background-color: #7b50af;
    }
}


/* width: 136px; height: 18px */
@keyframes Spoiler
{
    from 
    {
        font-size: 90%;
        opacity: 0;  
            
    }
    to
    {
        opacity: 1;
        font-size: 110%
    }
}


.spoiler:nth-of-type(1):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%;
    border: 10px;
    border-color: #420dab;  
}
.spoiler:nth-of-type(2):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(3):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(4):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(5):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(6):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(7):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
} 

.form
{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
 }
table {
    width: 60%;
}

th {
    background-color: #7b50af;
    color: white;
    height: 50px;
    text-align: left;
}
tr:hover {
    
    animation-name: TableHover;
    animation-duration: 2s;
    background-color: #7b50af;
}

.youtube iframe:hover
{
    /* transform: scale(1.5, 1.5); */
    transform: rotate3d(50,50,50);
    transition-duration: 2s;

}