html
{
    background: url("MediaFiles/pokemonwallpaper.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 5cm; 
}
a
{
color: #420dab;
}

p, h2, h3, .form
{
    color: white;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0 .05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
}
h1{
    text-shadow:     
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

body{ background: url("MediaFiles/pokemonwallpaper.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
background-size: cover;
}

footer
{    
    color: white;
    bottom: 0;
    position: fixed;
    background-image: url(MediaFiles/footerbackground.png);

}
.container
{        
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 0 1 auto;
     font-family: "Arial";
}


.container ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
   
    background-color: transparent;
    
    
}
.container ul::before
{
    opacity: 0.4;
    

}
.container li a {
    display: block;
    position: relative;    
        padding: 8px 32px;
        text-decoration: none;    
}




.container a
{    
    text-shadow: 0.05em 0 black, 0 0.05em black, -0 .05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
    color: white;
    cursor:pointer;      
    background-repeat: no-repeat;

}
.container a.active
{
    background-image: url("MediaFiles/pokemonwhitelarge.png");    
    
}
.container a:not(.active)
{
    background-image: url("MediaFiles/pokemontranslarge.png")    
    
}
.container a:hover
{
    background-color: transparent;
    animation-name: blacktogrey;
    animation-duration: 1s;
    background-image: url("MediaFiles/pokemongreylarge.png")
}
.container 
{
    color: white;
text-shadow: 0.05em 0 black, 0 0.05em black, -0 .05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;

}
.Poster
{
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.inhoud
{
color : white;   
}
.inhoud img
{
height: 30px;
width: 30px;
}
.top10
{
border: 2px;
border-style: solid;
border-color: #420dab;
align-content: center;
display: flex;
flex-direction: column;
}


.spoiler 
{
    
    opacity: 0;
    
}


@keyframes blacktogrey
{
    from 
    {
        /* background-image: url(MediaFiles/pokemondarklarge.png);*/ width: 0px; height: 18px; 
    }
    to   
    {
        background-image: url(MediaFiles/pokemongreylarge.png);width: 136px; height: 18px;
         
    }
}  
/* width: 136px; height: 18px */
@keyframes Spoiler
{
    from 
    {
        font-size: 90%;
        opacity: 0;  
            
    }
    to
    {
        opacity: 1;
        font-size: 110%
    }
}



.spoiler:nth-of-type(1):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%;
    border: 10px;
    border-color: #420dab;  
}
.spoiler:nth-of-type(2):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(3):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(4):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(5):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(6):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
}
.spoiler:nth-of-type(7):hover
{
    animation-name: Spoiler;
    animation-duration: 1s;
    opacity: 1;
    font-size: 110%
} 

.form
{
    text-align: center;
}
nav
{
    background: white;
}
body
{
    background: lightgrey;
}