html{ background: url("MediaFiles/pokemonwallpaper.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
background-size: cover;
}
a:hover{
    cursor: crosshair;  
    color: white;  
}
body{
    margin: 0;
}
nav{
    position: relative;
    background-color: rgb(46, 18, 38);
    display: flex;
    justify-content: space-between;
}
nav ul{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: paleturquoise;
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;
}
nav a:hover {
    color: white;
}
nav ul {
    list-style: none;
}
ul#Sub1 li {
    display: none;
}
li:hover > ul#Sub1 li {
    display: flex;
    flex: 1;
    left: 0;
    top: 100%;
    width: 100%;
}


